*,*::before,*::after{
    margin: 0;
    padding: 0;
}

body{
    background:rgb(122, 207, 122);
    text-align: center;
}

h1{
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

.active-game {
    border: solid black;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#active-games {
    border: solid black;
    margin: 25px;
}

#active-games-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.active-game-players, .active-game-viewers {
    padding: 10px;
}

.active-game-viewer-name, .active-game-player-name, .active-game-title, .active-game-players-num, .active-game-players-empty-message, .active-game-viewers-empty-message, .active-game-state, .active-game-join-button {
    padding: 5px;
}

.active-game-viewers-heading, .active-game-players-heading, .active-game-players, .active-game-viewers, #active-games-heading, .active-game-title, .active-game-players-num, .active-game-state {
    border-bottom: solid black;
}